<h3><%= @student.full_name %> </h3> 
<ul>
  <li><%= @student.email %> <%= @student.phone%></li>
  <li>Bio: <%= @student.bio %></li>
  <li>LinkcapstoneIn: <%= @student.linkedin %></li>
  <li>LinkedIn: <%= @student.twitter %></li>
  <li>Personal Blog: <%= @student.personal_url %></li>
<li>Online Resume URL: <%= @student.resume_url %></li>
<li>Github URL: <%= @student.github_url %></li>
<li>Avatar: <%= @student.avatar%></li>
</ul>
<hr>
<h3>Experiences: </h3>
<li><% @student.experiences.each do |experience| %></li>
<li><% experience.job_title %></li>
<li><% experience.company %></li>
<li><% experience.start_time %>--<% experience.end_time %></p>
<li><% experience.details %></li>
<% end %>
<hr>
<h3>Educations: </h3>
<ul>
<li><% @student.educations.each do |education| %></li>
<li><% education.degree %></li>
<li><% education.university_name %>
<p><% education.start_date %>--<% education.end_date %></p>
<% end %>
</ul>
<hr>
<h3>skills: </h3>
<ul>
<li><% @student.skills.each do |skill| %></li>
<li><%= skill.name %> </li>
<% end %>
</ul>
<hr>
<h3>Capstone: </h3>
<ul>
<li><% @student.capstones.each do |capstone| %></li>
<li><% capstone.name %></li>
<li><% capstone.description %></li>
<li><% capstone.url %></li>
<li><% capstone.screenshot %></li>
<% end %>
</ul>



